<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        h2 {
            color: #333;
        }
    </style>
</head>
<body>
    <p>Hi All,</p>

    <p>Please find the updated appointment list attached and consolidated report for past 7 days.</p>

    <table>
        <tr>
            <th>CREATEDDATE</th>
            <th>STORE - Custom Fit</th>
            <th>STORE - Goods Delivery</th>
            <th>WEBBOOKING - Custom Fit</th>
        </tr>
        <tbody>
            {{AppointmentRows}}
        </tbody>
    </table>

    <p>Thank you,</p>
    <br>
    <p>www.rheincs.com</p>
    <p>Regards,</p>
    <p>
        Vishnupriya Gunasekaran<br>
        Software Engineer Trainee<br>
        RheinBrücke IT Consulting<br>
        M: +91 8072800285
    </p>
</body>
</html>
